@font-face {
    font-family: CostumeFont;
    src: url(/Fonts/montserrat-variablefont_wght-webfont.woff2);
}

body {
    overflow: overlay;
    margin: 0;
    overflow-x: hidden;
}

/* UP BUTTON */
.topbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: rgba(0, 0, 0, 0.70);
    border: none;
    height: 3.5vw;
    width: 3.5vw;
    color: rgba(255, 255, 255, 0.80);
    border-radius: 50%;
    font-size: 2vw;
    display: none;
}

.topbutton:hover {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.7);
    cursor: pointer;
}

.topbutton:active {
    border-color: none;
    transform: translateY(4px);
}

#btn-back-to-top > span {
    font-family: 'Courier New', Courier, monospace;
}

/* ANIMATION */
@keyframes textSlidefromBottom{
    from {
        transform: translateY(400%)
    }

    to{
        transform: translateY(0px);
    }
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #1f1e1e;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    scroll-behavior: smooth;
}

.content {
    padding-right: 9px;
}

/* NAVBAR */
.aktivnavbar {
    cursor: default;
    font-weight: 700;
}

.navbar-brand {
    font-size: 20pt; 
    font-weight: bold; 
    font-family: CostumeFont;
}

.navlogo {
    width: 6%;
    margin-top: 7px;
}

.nav-link{
    color: black !important;
}

.navbar {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(2.5px);
    background-color: rgba(0, 0, 0, 0.103);
}

.navbg{
    background-image: url(/Images/header/croppedsky.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}

head {
    font-family: 'Times New Roman', Times, serif;
}

/* BANNER */
.banner {
    background-image: url(/Images/header/croppedsky.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bannerimg {
    width: 100%;
    position:relative;
    height: auto;
}


.bannertext {
    font-family: CostumeFont;
    position: -webkit-sticky;
    position: sticky;
    top: 12%;
    margin-left: 8%;
    margin-right: auto;
    font-size: 7.5vw;
    font-weight: 700;
    text-shadow: 2px 2px 10px black;
    height: 10%;
    white-space: nowrap;
    animation: textSlidefromBottom 0.5s ease-in 0.5s 1 normal both;
}

.bannertext > .slogan {
    font-family: CostumeFont;
    position: relative;
    font-size: 2vw;
    font-weight: 600;
    text-shadow: 2px 2px 15px black;
    top: -10px;
}

/* SECTION ONE */
.section1img {
    width: 100%;
}

.bggray{
    background-color: #1f1e1e;
}

.section1bg {
    background-color: #1f1e1e;
    width: 100%;
    position:relative;
    margin-right: 0px;
    margin-left: 0;
    top: -1px;
}

.section1cim {
    font-family: CostumeFont;
    font-size: 5vw;
    text-shadow: 2px 2px 10px black;
    color: white;
    width: 100%;
    text-align: right;
    padding-right: 10%;
    padding-top: 5%;
}

hr {
    background-color:#60A7DB;
    margin-top: -3%;
    position: relative;
    right: -15%;
    width: 70%;
    height: 2px;
}

.section1text {
    color: white;
    font-family: CostumeFont;
    font-size: 1.3vw;
    text-align: justify;
    padding-right: 30%;
    padding-left: 10%;
    margin-top: 4%;
}

.alsoszekcio {
    margin-bottom: 3%;
    width: 100%;
}

.section1button {
    font-family: CostumeFont;
    margin-left: 10%;
    margin-top: 4%;
    font-weight: 500;
}

.section1button:active {
    transform: translateY(4px);
}